<!DOCTYPE html>
<html>
<head>
    <title>Topic Modeling</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/what">What?</a>
        <a href="/Why">Why?</a>
        <a href="/how">How?</a>
        <a href="/20NewsGroups">20NewsGroups</a>
    </div>

    <div id="what"></div>
        <h2>What were the results of the 20NewsGroups experiment?</h2>
        <ul> 
            <li>Our experiment with the 20NewsGroups dataset was successful in identifying topics in the dataset</li>
            <li>We imported the Sklearn 20newsgroups dataset which is a collection of newsgroup documents</li>
            <li>We used the Latent Dirichlet Allocation (LDA) algorithm to identify topics in the dataset using the Top2Vec algorithm</li>
            <li>The Top2Vec algorithm is a topic modeling algorithm that combines topic modeling with word embeddings</li>
            <li>Preprocessing the newsgroup data prior to running the algorithm was not required.</li>
            <li>We evaluated the performance of the LDA algorithm using metrics such as coherence score and perplexity</li>
            <li>We visualized the topics using a word cloud and other visualization techniques</li>
        </ul>
        <img class="soft-edges" src="{{ url_for('static', filename='images/topic0.png') }}" alt="Image">
        <img class="soft-edges" src="{{ url_for('static', filename='images/topic1.png') }}" alt="Image">
        <img class="soft-edges" src="{{ url_for('static', filename='images/topic_distribution.png') }}" alt="Image">
        </div>
</body>
</html>