<!DOCTYPE html>
<html>
<head>
    <title>Topic Modeling</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="navbar">
        <a href="/home">Home</a>
        <a href="/what">What?</a>
        <a href="/Why">Why?</a>
        <a href="/how">How?</a>
        <a href="/20NewsGroups">20NewsGroups</a>
    </div>

    <div id="Why"></div>
        <h2>Why did we choose this topic for our project?</h2>
        <ul>
            <br></ul>
            <li>Product managers, marketing people and product engineers just to name a few all need to understand what customers think about their product.</li>
            <br></ul>
            <li>One way to understand what customers think about a product is to analyze the reviews they leave.</li>
            <br></ul>
            <li>Topic modeling can help us understand what the customer thinks about a product by analyzing the reviews they leave.</li>
            <br></ul>
            <li>By understanding what the customer thinks about a product, companies can make better decisions about how to improve their product.</li>
            <br></ul>
            <li>The challenge or gap is identifying themes or topics in an efficient manner.</li>
            <br></ul>
            <li>Our project aims to address this challenge by using topic modeling to identify themes in a sample of amazon customer reviews in an efficient manner.</li>
        </ul>
        <img class="soft-edges" src="{{ url_for('static', filename='images/reading.png') }}" alt="Image">
        <div class="image-source">Image Source: https://www.si.edu/object/interior-man-reading-his-desk%3Achndm_2007-27-8</div>
    </div>
</body>
</html>
