/* background color */
.navbar {
    background-color: navy;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px; /* Adjust as needed */
    overflow: auto;
}
/* Links inside the navbar */
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change color on hover */
.navbar a:hover {
    background-color: yellow;
    color: black;
}

/*body*/
body {
    margin-left: 200px; /* Same as the width of the sidenav */
    font-family: "Lato", sans-serif;
    background-color: #f6e0cd;
}

/*image*/
.soft-edges {
    border-radius: 15px;
    border: 2px solid navy;
    border-radius: 15px;
    padding: 10px;
}

/*image_source*/
.image-source {
    position: fixed;
    left: 10px;
    bottom: 10px;
}